 {% extends 'forum/base.html' %}
 {% block section %}
     <style>
     button {
        margin:0 auto;
        display:block;
    }
     .back{
         background-image: url(media/back.jpg);
         background-color: #000000;
         background-size: 100% 100% ;
         min-width: 100%;
{#         width: auto;#}
{#         -webkit-filter: brightness(0.7);#}
{#        filter: brightness(0.7);#}
{#         -webkit-filter: brightness(0.5);#}
{#        filter: brightness(0.5);#}
     }
     .what {
         position: relative;
         color: white;
         margin-top: 5%;
         border-width: 5px;
         border-radius: 15px;
         border-color: white;
         background-color: transparent;
         font-size: 50px;
     }
     .what:hover{
         color: black;
         background-color: white;
     }
     </style>


     <div align="center" class="container-fluid back" style="height: 100%; width: 100%; left:0; position: absolute">
     <div align="center"  style="margin-top: 20%; color: white; font-size: 40px; background-color: rgba(0,0,0,0.7)">
          Someone does not agree!
     </div>
        <a href="{% url 'view_topics' %}">
            <button class="btn what" style= >
                What?!
            </button>
        </a>
     </div>

     <div class="container-fluid" style="top: 130%; left: 10%; position: absolute; width: 80%;">
     <div class="row">
         <div  class="col-md-4 col-xs-12" ><div align="center" style="">
             <span class="fa fa-comments"
                          style="font-size: 150px; color: #9f9f9f; margin: auto">
                    </span><br><br><p style="width: 70%;font-size: large">
             This forum is for discussing everything you find interesting, asking questions and helping others to find answers.
         </div></div>
         <div class="col-md-4 col-xs-12"><div align="center">
             <span class="glyphicon glyphicon-sunglasses"
                          style="font-size: 150px; color: #9f9f9f; ">
                    </span><br><br><p style="width: 70%;font-size: large">
            All content is anonymous. But everyone should not break law or be too offensive. Please, respect yourself and other users.
         </div></div>
         <div class="col-md-4 col-xs-12"><div align="center">
             <span class="fa fa-users"
                          style="font-size: 140px; color: #9f9f9f; margin: auto">
                    </span><br><br><p style="width: 70%;font-size: large">Our community is growing, so join us to be the part of people with similar interests!
         </div></div>

     </div>
     <br><br><br><br><hr>
         <h1 align="center">So, <a href="{% url 'view_topics' %}">WHAT</a> are they talking about?</h1>
         <hr>
     </div>
 {% endblock section %}