 {% extends 'forum/base.html' %}
 {% block section %}
     <body style="height:98%">
        <div id = 'right_black' style='position:absolute;top:0;left:50%;width:50%;height:100%;background-color:  #000;'>
            <h1 style="text-align:center;
            padding-left: 40%; padding-top: 40%; width:80%; font-size: 4vh; color: white; word-wrap: normal;">
                {{ "Here you can discuss everything you want, so just enjoy!" }}
            </h1>
        </div>";

        <div id = 'left_black' style='position:absolute;top:0;left:0; width:50%;height:100%;background-color:  #000;'>
            <h1 style="text-align:center;
            padding-left: 18%; padding-top: 40%; width:50%; font-size: 4vh; color: white; word-wrap: normal;">
                {{ "Here you can ask or answer questions, or find information you need!" }}
            </h1>
        </div>";

        <div id = 'left_column'
             style="position:absolute;top:0;left:0;width:50%;height:100%;background-color:  #00cc99;">
            <p style="text-align:center">
                <a href="{% url 'view_topics'%}">
                    <span id="left" class="fa fa-comments-o"
                          style="position:relative; font-size: 17vw;
                          color: black; margin-top: 30vh; padding-left: 30%; margin-right: 20%" >
                    </span>
                </a>
            </p>
            <h1 align="center" style="text-align:center; font-size: 5vw; padding-left: 7vh" id="discuss">
                <p style=" font-family: 'Roboto', sans-serif; font-size: 5vw; font-weight:100 ">Discuss</p>
            </h1>
        </div>


        <div  id = 'right_column'
              style="position:absolute;top:0;left:50%;width:50%;height:100%;background-color: #993333;">
            <p style="text-align:center">
                <a href="{% url 'ask'%}">
                    <span id="right" class="fa fa-question-circle"
                          style="font-size: 17vw; color: #000000; margin-top: 30vh;margin-left: 20%; padding-right: 25% ">
                    </span>
                </a>
            </p>

            <h1 style="text-align:center;  font-size: 5vw; padding-right: 3vw" id="ask">
                <p style=" font-family: 'Roboto', sans-serif; font-size: 5vw; font-weight:100 ">Ask</p>
            </h1>
        </div>

        <script src="/static/main_page_shifting.js"></script>
 {% endblock section %}