 {% extends 'forum/discussions.html' %}
<link rel="stylesheet" href="css/style.css">
 {% block content %}
     <ol class="breadcrumb" style="font-size: medium">
        <li ><a href="{% url 'view_topics'%}">Choose Topic</a></li>
        <li><a href="{% url 'topic' pk=cur_topic.pk%}">{{cur_topic.title }}</a></li>
        <li class="active">New Thread</li>
     </ol>

     <div class="container-fluid" style="z-index: 190; left: 0; position: absolute; width: 100%;
            background: url({{ MEDIA_URL }}{{ cur_topic.logo.url }});min-height: 100% ">

       <div class="container" style="background-color: #ffffff; height: 100%" >


           <div class="form-group" style="word-wrap: break-word; width: 100%; border: solid 1px black; padding: 10px">
                 <h1 align="center" style=" word-wrap: break-word " >
                       Add new thread
                    </h1>
            <form method="POST" type="text" class="form" enctype="multipart/form-data" style="width: 100%; ">
                {% csrf_token %}
                {% for field in form %}
                    <br>
                    {% if field.name == 'title' %} Title {% endif %}
                    {% if field.name == 'tags' %} Tags (separated with space) {% endif %}
                    {% if field.name == 'text' %} Text {% endif %}
                    {% if field.name == 'image' %}

                        Upload an image {% endif %}
                    <br>{{ field }} <br> <br>
                {% endfor %}
<img id="image" style="max-height: 30%"> <br>
                <button type="submit" class="btn" style=" border-radius: 1px; position: relative; ">Submit</button>
            </form>
           </div>
</div>

    </div>
<script>
document.getElementById("file").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
</script>

{% endblock content%}

