 {% extends 'forum/discussions.html' %}
<link rel="stylesheet" href="css/style.css">
 {% block content %}
     <div align="center" class="container-fluid" style="background-color: #bababa; min-height: 100%; width: 100%; left:0; position: absolute">
    <div class="container" style="width: 60%; min-width: 300px; background-color: white; height: 100%">
    <div align="center" class="breadcrumb" style="margin-top: 70px;font-size: medium;">
                <li class="active">Tags</li>
     </div>

            {% if tags%}


                {% for tag in tags %}

                    <a class="btn btn-default"  href = "{% url 'search_tag' pk=tag.pk%}" role="button"
                       style="font-size: small; margin: 5px;border-radius: 1px" >
                                    {{ tag.title }} <span class="badge" style="background-color: #aaaaaa"> {{ tag.uses }} </span>
                    </a>


                {% endfor %}
            {% else %}
                 <div align="center">
                        No tags yet.
                 </div>
            {% endif %}
        </div>

    </div></div></div>


{% endblock content%}

