 {% extends 'forum/discussions.html' %}
<link rel="stylesheet" href="css/style.css">

{% block content %}
    <style>

    </style>
    <ol class="breadcrumb" style="; font-size: large; height: 7%">
        <li class="active">Choose Topic</li>
    </ol>
    <body style="z-index: 10">

    <div class="container-fluid" style="margin: auto">
    {% for topic in topics %}
        <div style="width: 100%;
    height: 150px; vertical-align: middle; " >
            <a class="button" id = {{ topic.pk }} href="{% url 'topic' pk=topic.pk %}" style="background: #fff; z-index : 500;
        display: inline; text-decoration: none !important;">
                <div  class = "logot" style= " position:relative;
                background: url({{ MEDIA_URL }}{{ topic.logo.url }});
                height:100%; width:100%" >
                    <div  style=" color: white;
                z-index: 100; text-decoration: none !important;
                text-underline: none;
                background-color:rgba(0, 0, 0, 0.5); text-align: left; vertical-align: bottom; height: 100%; margin-top: 0;
                position: relative ;">
                        <font class="topic-name" face ='Yu Gothic Light' size=150px style=" color: white;
                z-index: 1000; text-decoration: none !important; z-index: 1000;
                text-underline: none; text-align: left; vertical-align: bottom; height: 100%; margin-top: 0;
                position: relative ;">
                            {{ topic.title|linebreaks }}
                        </font>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</body>
<script src="/static/topics.js"></script>




{% endblock content%}

