 {% extends 'forum/discussions.html' %}
<link rel="stylesheet" href="css/style.css" xmlns:width="http://www.w3.org/1999/xhtml">

{% block content %}
    <style>

    .card-img-top{
         -webkit-filter: brightness(100%);
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        width: 100%;
        height: auto;
        opacity: 0.8;
    }
    .card:hover > .card-img-top:hover{
         -webkit-filter: brightness(150%);
        -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
        opacity: 1;
    }
    </style>
    <body style="background-color: #EEEEEE" >



    <div class="container" style="width: 60%; min-width: 300px; background-color: #fff">
    <div align="center" class="breadcrumb" style="margin-top: 70px;font-size: medium;">
        <li class="active">Choose Topic</li>
    <div style="float: right; margin-top: 5px;"><a href= "{% url 'view_topics' %}" ><i class="fa fa-table" aria-hidden="true"></i></a></div>
    </div>
    <ul class="list-group" style="width: 98%">
        {% for topic in topics %}
            <a class="list-group-item" href="{% url 'topic' pk=topic.pk %}" role="button"  style=" margin:5px;
            background-color: #f5f5f5; border-radius: 0">
                <div class="row" id="topic{{ topic.pk }}" >
                    <h4>
                        <div  style="color: #000; padding: 3px">
                            {{ topic.title }}
                        </div>
                    </h4>
              </div>
            </a>





{#        <p><a href="{% url 'topic' pk=topic.pk %}"  class="btn btn-primary" role="button">Go!</a>#}
{#            <a href="#" class="btn btn-default" role="button">Button</a></p>#}

        {% endfor %}

    </ul></div>

</body>
<script src="/static/topics.js"></script>
{##}
{#<a class="button" id = {{ topic.pk }} href="{% url 'topic' pk=topic.pk %}" style="background: #fff; z-index : 500;#}
{#            display: inline; text-decoration: none !important;">#}
{#                    <div  class = "logot" style= " position:relative;#}
{#                    background: url({{ MEDIA_URL }}{{ topic.logo.url }});#}
{#                     width:100%" >#}
{#                        <div  style=" color: white;#}
{#                    z-index: 100; text-decoration: none !important;#}
{#                    text-underline: none;#}
{#                    background-color:rgba(0, 0, 0, 0.5); text-align: left; vertical-align: bottom; height: 100%; margin-top: 0;#}
{#                    position: relative ; padding: 10px">#}
{#                            <font class="topic-name" face ='Yu Gothic Light'  style=" color: white;#}
{#                    z-index: 1000; text-decoration: none !important; z-index: 1000;#}
{#                    text-underline: none; text-align: left; vertical-align: bottom;  margin-top: 0;#}
{#                    position: relative ; font-size: x-large">#}
{#                                {{ topic.title|linebreaks }}#}
{#                            </font>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}


{% endblock content%}

