 {% extends 'blog/index.html' %}
{% block links %}
    <link rel="stylesheet" href="css/style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
{% endblock %}

{% block section %}
<div class="container-fluid" style="text-align: center">
<font face ='Yu Gothic Light' size="21px"> Sorry, this section is still under development. </font>
{#    <script src="scripts/react/react.js"></script>#}
{#    <script src="scripts/react/react-dom.js"></script>#}


    <div id="example"></div>
    <script type="text/javascript" src="../../static/example.js">
    </script>
</div>

{% endblock section%}



