 {% extends 'blog/home_page.html' %}


 {% block content %}

        <head>
            <title>Imageboard</title>
           <!--  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Didact+Gothic" />
           <link rel="stylesheet" href="{ static 'css/blog.css' %}">-->
        </head>
        <body style="z-index: 10">
            <div class="header" style="text-align: left; margin-top: 60px; ">
                <h1 align="left" style=" display: flex; "><a style = "color : #000;background-color: #00cc99; padding: 10px"href="/">Discussions</a></h1>
            </div>
            <div class="content container">
                <!--<div class="row">-->
                    <div class="col-md-16">
                        {% block posts %}
                        {% endblock posts%}
                        {% block new_form %}
                        {% endblock new_form%}
                    </div>

            </div>
        </body>
{% endblock content%}

