 {% extends 'blog/index.html' %}
 {% block content %}
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<body style="height:98%">

    <div id = 'right_black' style='position:absolute;top:0;left:50%;width:50%;height:100%;background-color:  #000;'>
        <h1 style="text-align:center;  padding-left: 40%; padding-top: 40%; width:80%; font-size: 4vh; color: white; word-wrap: normal;">
            {{ "Here you can discuss everything you want, so just enjoy!" }}
        </h1>
    </div>";

    <div id = 'left_black' style='position:absolute;top:0;left:0; width:50%;height:100%;background-color:  #000;'>
        <h1 style="text-align:center;  padding-left: 18%; padding-top: 40%; width:50%; font-size: 4vh; color: white; word-wrap: normal;">
            {{ "Here you can ask or answer questions, or find information you need!" }}
        </h1>
    </div>";

    <div id = 'left_column' style="position:absolute;top:0;left:0;width:50%;height:100%;background-color:  #00cc99;">
        <p style="text-align:center">
            <a href="{% url 'view_topics'%}">
                <span id="left" class="fa fa-comments-o" style="position:relative; font-size: 17vw; color: black; margin-top: 30vh; padding-left: 30%; margin-right: 20%" >
                </span>
            </a>
        </p>
    <h1 style="text-align:center; font-size: 5vw; padding-left: 10vh" id="discuss">
        <font face ='Yu Gothic Light'>Discuss</font>
    </h1>
    </div>


    <div  id = 'right_column' style="position:absolute;top:0;left:50%;width:50%;height:100%;background-color: #993333;">
    <p style="text-align:center">
        <span id="right" class="fa fa-question-circle" style="font-size: 17vw; color: black; margin-top: 30vh;margin-left: 20%; padding-right: 25% ">
        </span>
    </p>

    <h1 style="text-align:center;  font-size: 5vw; padding-right: 3vw" id="ask">
        <font face ='Yu Gothic Light'>Ask</font>
    </h1>
    </div>


<script>

    var right = document.getElementById('right');
    var left = document.getElementById('left');

    var right_column = document.getElementById('right_column');
    var left_column = document.getElementById('left_column');

    var discuss = document.getElementById('discuss');

    var ask = document.getElementById('ask');
    var in_center = 1;
    var is_expanded = 0;
    var expanding = 0;

    var is_movingf = 0;
    var is_movinge = 0;

    function expand(side) {
        var elem = document.getElementById(side + "_column");
        var another;
        var description;
        if (side == "left") {
            another = document.getElementById("right_column");
            description = document.getElementById("right_black");
        } else {
            another = document.getElementById("left_column");
            description = document.getElementById("left_black");
        }
        var prs = 50;
        var id = setInterval(frame1, 25);
        left.onmouseover = NULL;
        left.onmouseout = NULL;
        right.onmouseover = NULL;
        right.onmouseout = NULL;

        function frame1() {
            if  (is_movingf){}
            else {
                if (prs == 60) {
                    is_movinge = 0;
                    in_center = 0;
                    clearInterval(id);
                    if (side == "right") {
                        right.onmouseout = mouseOutFunction;
                    } else {
                        left.onmouseout = mouseOutFunction;
                    }
                } else {
                    is_movinge = 1;
                    elem.style.zIndex = 2;
                    another.style.zIndex = 0;
                    description.style.zIndex = 1;
                    prs++;
                    elem.style.width = prs + '%';
                    description.style.opacity = (prs - 50)/11;
                    if (side == "left") {
                        another.style.left = prs + '%';
                        another.style.width = 100 - prs + '%';
                    } else {
                        elem.style.left = 100 - prs + '%';
                        another.style.width = 100 - prs + '%';
                    }
                }
            }
        }
    }
    function filch(side) {
        var elem = document.getElementById(side + "_column");
        var another;
        var description;
        if (side == "left") {
            another = document.getElementById("right_column");
            description = document.getElementById("right_black");
        } else {
            another = document.getElementById("left_column");
            description = document.getElementById("left_black");
        }

        var prs = 60;
        var id = setInterval(frame, 25);
        left.onmouseover = NULL;
        left.onmouseout = NULL;
        right.onmouseover = NULL;
        right.onmouseout = NULL;
        function frame() {
            if (is_movinge) {}
            else {
                if (prs == 50) {
                    in_center = 1;
                    is_movingf = 0;
                    clearInterval(id);
                    left.onmouseover = mouseOverFunction;
                    right.onmouseover = mouseOverFunction;
                    description.style.zIndex = 0;
                } else {
                    is_movingf = 1;
                    description.style.opacity = (prs - 50)/11;
                    prs--;
                    elem.style.width = prs + '%';
                    if (side == "left") {
                        another.style.left = prs + '%';
                        another.style.width = 100 - prs + '%';
                    } else {
                        elem.style.left = 100 - prs + '%';
                        another.style.width = 100 - prs + '%';
                    }
                }
            }
        }
    }

    var mouseOverFunction = function () {
         if (is_movinge || is_movingf) {return;}
        if (this == right) {
            ask.style.color = '#fff';
            this.style.color = '#fff';
            expand("right");
        } else {
            discuss.style.color = '#fff';
            this.style.color = '#fff';
            expand("left");
        }
     };
    /*
    function sleep(ms) {
        ms += new Date().getTime();
        while (new Date() < ms){}
    }
    */
    var mouseOutFunction = function () {
        if (is_movingf || (in_center && !is_movinge)) {return;}
        if (this == right) {
            ask.style.color = '#000';
            this.style.color = '#000';
            filch("right");
        } else {
            discuss.style.color = '#000';
            this.style.color = '#000';
            filch("left");
        }
    };

    right.onmouseover = mouseOverFunction;
    right.onmouseout = mouseOutFunction;
    left.onmouseover = mouseOverFunction;
    left.onmouseout = mouseOutFunction;

</script>
</body>
 {% endblock content %}