 {% extends 'blog/index.html' %}
<link rel="stylesheet" href="css/style.css">
 {% block content %}
    <ol class="breadcrumb" style="font-size: large">
                <li><a href="{% url 'view_topics'%}">Choose Topic</a></li>
                <li class="active" > ... </li>
              <li class="active">{{ cur_thread.title }}</li>
        </ol>
     <body style="z-index: 190">


       <div class="container">



                {% for comment in comments %}

                    <h1 class="textline"  style="font-size: x-large; " >
                                    example user : {{ comment.text}}
                    </h1>


                {% endfor %}
       <hr>
            <div class="form-group" style="margin: 10px">
                <form method="POST" type="text" class="form" style="width: 60%; ">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-default" style="background-color:#00cc99; position: relative; ">Add comment</button>
                </form>
            </div>
{#       <form class="navbar-form navbar-left" role="search">#}
{#           {% csrf_token %}<span class="glyphicon glyphicon-search" aria-hidden="true"></span> #}
{##}
{##}
{#  <div class="form-group">#}
{#    <input type="text" class="form-control" placeholder="Search">#}
{#  </div>#}
{#  <button type="submit" class="btn btn-default">Submit</button>#}
{#</form>#}

</div>

    </body>


{% endblock content%}

