 {% extends 'blog/discussions.html' %}
<link rel="stylesheet" href="css/style.css">
 {% block content %}
    <ol class="breadcrumb" style="font-size: large">
                <li><a href="{% url 'view_topics'%}">Choose Topic</a></li>
                <li > <a href="{% url 'topic' pk=cur_parent.pk %}">{{ cur_parent.title }}</a></li>
                <li > <a href="{% url 'threads' pk=cur_parent.pk %}">Threads</a></li>
                <li class="active">{{ cur_thread.title }}</li>
        </ol>

     <div class="container-fluid" style="z-index: 190; left: 0; position: absolute; width: 100%;
            background: url({{ MEDIA_URL }}{{ cur_parent.logo.url }}); min-height: 100%">


       <div class="container" style="font-size: 25px; height: 100%; background-color: white">

                <div align="center"> <b><br>{{ cur_thread.title }}<br><br></b></div>

                {% for tag in cur_thread.parsed_tags.all %}
                    <a class="btn btn-default"  href = "{% url 'search_tag' par=cur_parent.pk pk=tag.pk%}" role="button" style=" margin: 5px" >
                                {{ tag.title }} <span class="badge" style="background-color: #aaaaaa">{{ tag.uses }}</span>
                </a>


                {% endfor %}
                       <hr>
                <div class="block" style="word-break: break-all;"> {{ cur_thread.body }}</div>
<hr style="height:3px;border:none;color:#c0c0c0;background-color:#c0c0c0; ">
       <h1 align="center" style=" font-size: x-large" > Comments </h1>

        <hr style="height:3px; width: 60%; border:none;color:#c0c0c0;background-color:#c0c0c0;">
                {% for comment in comments %}
                    <div align="right" style="font-size: small; color: #aaaaaa">
                    {{ comment.time_posted|date:'Y-m-d H:i' }}
                </div>
                    <h1 style="font-size: large; word-break: break-all " >
                                    {{ comment.text }}
                    </h1>
                 <hr style="height:1px;border:none;color:#999;background-color:#999;">

                {% endfor %}

            <div class="form-group" style="margin: 10px; width: 100%">
                <form method="POST" type="text" class="" style="width: 60%; height: 30% ">
                    {% csrf_token %}
                    {% for field in form %}
                        <div style="height: 20%"> {{ field }} </div>
                    {% endfor %}
                <br>
                    <button type="submit" class="btn btn-default" style="background-color:#00cc99; position: relative; ">Add comment</button>
                </form>
            </div>
{#       <form class="navbar-form navbar-left" role="search">#}
{#           {% csrf_token %}<span class="glyphicon glyphicon-search" aria-hidden="true"></span> #}
{##}
{##}
{#  <div class="form-group">#}
{#    <input type="text" class="form-control" placeholder="Search">#}
{#  </div>#}
{#  <button type="submit" class="btn btn-default">Submit</button>#}
{#</form>#}

</div>

    </div>


{% endblock content%}

