 {% extends 'forum/index.html' %}
<link rel="stylesheet" href="css/style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% block section %}

<div class="container-fluid" style="text-align: center">
<font face ='Yu Gothic Light' size="21px"> This page does not exist. <br> Click the button below to open the Home Page.</font>
<br>
    <a href="/"><i class="fa fa-home" style="font-size: 3000%"></i></a>
</div>
{% endblock section%}



